

{% extends 'dashboard.html' %}

{% block dashboard %}

{% if perms.course.add_course %}
    <a class="btn btn-success m-2" href="{% url 'course.create' %}">Create</a>
{% endif %}
<div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Title</th>
              <th>Price</th>
              <th>Creator</th>
              <th>Image</th>
              <th>Create Time</th>
              <th>Update Time</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          {% for course in courses %}
          <tr>
              <td>{{ course.title }}</td>
              <td>{{ course.price }}</td>
              <td>{{ course.creator }}</td>
              <td><img src="/{{ course.image }}" width="50px" height="50px"></td>
              <td>{{ course.created_at }}</td>
              <td>{{ course.updated_at }}</td>
              <td>

                  {% if perms.course.change_course %}
                    <a href="{% url 'update.course' course.id %}" class="btn btn-warning">Edit</a>
                  {% endif %}

                  {% if perms.course.delete_course%}
                  <a href="{% url 'delete.course' course.id %}" class="btn btn-danger">Delete</a>
                  {% endif %}
                  <a href="{% url 'read.episode' course.id %}" class="btn btn-info">Episodes</a>
              </td>

            </tr>
          {% endfor %}



          </tbody>
        </table>
      </div>

{% endblock %}