{% extends 'dashboard.html' %}


{% block dashboard %}


<form action="{% url 'manage' %}" method="POST">
    {% csrf_token %}


    <select name="choose">
        
        {% for model in models %}

        <option value="{{ model }}">{{ model }}</option>
            
        {% endfor %}
            
    </select>

    <input type="text" name="group_name" placeholder="Group name"> 

    <input type="text" name="perm_name" placeholder="Permission name"> 

    <input type="text" name="perm_code" placeholder="Permission Code">

    <input type="submit" value="Create Permission"> 
</form>

    
{% endblock %}
    