{% extends 'dashboard.html' %}


{% block dashboard %}

    <form action="{% url 'create.category' %}" method="post">
    {% csrf_token %}

    <label for="id_title">Title: </label>
    <input class="form-control" id="id_title" type="text" name="title" placeholder="title...">

    <label for="id_image">Image: </label>
    <input class="form-control" id="id_image" type="image" name="image">

    <label for="id_body">Image: </label>
    <textarea class="form-control" id="id_body" name="body"></textarea>

    </form>

{% endblock %}