

{% extends 'dashboard.html' %}

{% block dashboard %}

<a class="btn btn-success m-2" href="{% url 'create.episode' course.id %}">Create</a>
<div class="table-responsive">
        <table class="table table-striped table-sm">
          <thead>
            <tr>
              <th>Title</th>
              <th>Time</th>
              <th>Video</th>
              <th>Course</th>
              <th>Create Time</th>
              <th>Update Time</th>
              <th>Action</th>
            </tr>
          </thead>
          <tbody>
          {% for episode in episodes %}
          <tr>
              <td>{{ episode.title }}</td>
              <td>{{ episode.time }}</td>
              <td>
                <video width="320" height="240" controls>
                  <source src="/{{ episode.video }}" type="video/mp4">
                  Your browser does not support the video tag.
                </video>
              </td>
              <td>{{ episode.created_at }}</td>
              <td>{{ episode.updated_at }}</td>
              <td>
                  <a href="{% url 'update.episode' episode.id %}" class="btn btn-warning">Edit</a>
                  <a href="{% url 'delete.episode' episode.id %}" class="btn btn-danger">Delete</a>
              </td>

            </tr>
          {% endfor %}



          </tbody>
        </table>
      </div>

{% endblock %}